
.VPNav .VPNavBar.home {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.VPNav .VPNavBar.has-sidebar {
  backdrop-filter: none;
}


.VPFeature {
  border: 1px solid var(--vp-c-divider);
}
